server:
  port: 8080

spring:
  data:
    redis:
      host: localhost
      port: 6379

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs

jwt:
  secret: contify-scret-key-contify-scret-key # secret은 최소 256바이트 이상
  access-token-expiration : 1800000 # 30분
  refresh-token-expiration: 604800000 #7일

logging:
  level:
    root: INFO
    com.example.contify: DEBUG
    org.springframework.security: DEBUG
