spring:
  datasource:
    url: jdbc:mysql://localhost:3306/myapp?serverTimezone=Asia/Seoul
    username: myapp_user
    password: myapp_user_dba
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
#      운영 서버에서는 절대 사용 금지 - ddl-auto : none / validate
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
server:
  port: 8080
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /v3/api-doc