spring:
  datasource:
    url: jdbc:mysql://localhost:3306/myapp?serverTimezone=Asia/Seoul
    username: myapp_user
    password: myapp_user_dba
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
server:
  port: 8080